<a href="https://colab.research.google.com/github/perpetydevyani/AdjacencyListDFS/blob/main/ma1_2341004221.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Major Assignment â€“ 1
# Python for Computer Science and Data Science (CSE 3651)

#This notebook contains the solution for:
#- Variables
#- Operators
#- Control Structures
#- Functions

#All tasks are completed using modular Python functions.

In [5]:
## Assignment Overview

#The program calculates:
#1. Basic salary based on hourly rate and weekly hours.
#2. Overtime salary for hours above 40 per week.
#3. Tax deductions based on salary slabs.
#4. Gross salary after allowances and tax.
#5. Salary bracket classification.
#6. A report for three employees.

#All formulas strictly follow the assignment guidelines.

In [9]:
def compute_basic(rate, weekly_hours):
    """Returns monthly basic salary assuming 4 weeks."""
    normal_hours = min(weekly_hours, 40)
    return rate * normal_hours * 4


def compute_overtime(rate, weekly_hours):
    """Returns monthly overtime salary."""
    if weekly_hours > 40:
        extra = weekly_hours - 40
        return extra * rate * 1.5 * 4
    return 0


def compute_total(rate, weekly_hours):
    """Returns total salary (basic + overtime)."""
    base = compute_basic(rate, weekly_hours)
    extra = compute_overtime(rate, weekly_hours)
    return base + extra


def tax_deduction(basic_amount):
    if basic_amount < 60000:
        return 0.10 * basic_amount
    elif 60000 <= basic_amount <= 85000:
        return 0.15 * basic_amount
    else:
        return 0.20 * basic_amount


def compute_gross(basic_amount):
    allowances = 0.20 * basic_amount
    tax = tax_deduction(basic_amount)
    return basic_amount + allowances - tax


def bracket_label(gross_amount):
    if gross_amount < 50000:
        return "Low income"
    elif gross_amount <= 80000:
        return "Middle income"
    else:
        return "High income"


def employee_report():
    print("\n======= EMPLOYEE SALARY REPORT =======\n")

    employees = []

    for idx in range(3):
        print(f"Enter details for Employee {idx + 1}:")
        name = input("Name: ")
        rate = float(input("Hourly Rate: "))
        hours = float(input("Hours per Week: "))

        employees.append((name, rate, hours))
        print()

    for name, rate, hours in employees:
        basic = compute_basic(rate, hours)
        gross = compute_gross(basic)
        tax = tax_deduction(basic)
        category = bracket_label(gross)

        print(f"Employee: {name}")
        print(f"  Basic Salary   : Rs. {basic:.2f}")
        print(f"  Gross Salary   : Rs. {gross:.2f}")
        print(f"  Tax Deducted   : Rs. {tax:.2f}")
        print(f"  Salary Bracket : {category}")
        print("-------------------------------------")

In [10]:
employee_report()

======= EMPLOYEE SALARY REPORT =======

Enter details for Employee 1:
Name: Jatin
Hourly Rate: 200
Hours per Week: 28

Enter details for Employee 2:
Name: Lata
Hourly Rate: 300
Hours per Week: 58

Enter details for Employee 3:
Name: Sanjay
Hourly Rate: 400
Hours per Week: 49

Employee: Jatin
  Basic Salary   : Rs. 22400.00
  Gross Salary   : Rs. 24640.00
  Tax Deducted   : Rs. 2240.00
  Salary Bracket : Low income
-------------------------------------
Employee: Lata
  Basic Salary   : Rs. 48000.00
  Gross Salary   : Rs. 52800.00
  Tax Deducted   : Rs. 4800.00
  Salary Bracket : Middle income
-------------------------------------
Employee: Sanjay
  Basic Salary   : Rs. 64000.00
  Gross Salary   : Rs. 67200.00
  Tax Deducted   : Rs. 9600.00
  Salary Bracket : Middle income
-------------------------------------

In [11]:
## Conclusion
'''
This notebook implements a complete salary calculation system using Python functions.
It covers basic salary, overtime, tax deduction, gross salary, and salary bracket classification.
The final report displays results for three employees in a readable format.
'''

'\nThis notebook implements a complete salary calculation system using Python functions.  \nIt covers basic salary, overtime, tax deduction, gross salary, and salary bracket classification.  \nThe final report displays results for three employees in a readable format.\n'